In [1]:
import numpy as np
import pickle

import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

from typing import Union, List, Tuple

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020');

def film_in_category(category_id:int)->pd.DataFrame:
    ''' Funkcja zwracająca wynik zapytania do bazy o tytuł filmu, język, oraz kategorię dla zadanego id kategorii.
    Przykład wynikowej tabeli:
    |   |title          |languge    |category|
    |0	|Amadeus Holy	|English	|Action|
    
    Tabela wynikowa ma być posortowana po tylule filmu i języku.
    
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
    
    Parameters:
    category_id (int): wartość id kategorii dla którego wykonujemy zapytanie
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    if isinstance(category_id, int):
        if 0 < category_id < 17:
            df = pd.read_sql(f'SELECT film.title, language.name AS language, category.name AS category FROM film \
            INNER JOIN language USING(language_id) INNER JOIN film_category USING(film_id) \
            INNER JOIN category USING(category_id) WHERE category.category_id = {category_id} \
            ORDER BY film.title ASC, language.name ASC', con=connection)
            return df
        else:
            return None
    else:
        return None

In [2]:
film_in_category(2)

/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                   title              language   category
0          Alter Victory  English               Animation
1   Anaconda Confessions  English               Animation
2         Argonauts Town  English               Animation
3       Bikini Borrowers  English               Animation
4       Blackout Private  English               Animation
..                   ...                   ...        ...
61           Tracy Cider  English               Animation
62             Turn Star  English               Animation
63            Wait Cider  English               Animation
64           Watch Tracy  English               Animation
65             Wonka Sea  English               Animation

[66 rows x 3 columns]

In [3]:
def number_films_in_category(category_id:int)->pd.DataFrame:
    ''' Funkcja zwracająca wynik zapytania do bazy o ilość filmów w zadanej kategori przez id kategorii.
    Przykład wynikowej tabeli:
    |   |category   |count|
    |0	|Action 	|64	  | 
    
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
        
    Parameters:
    category_id (int): wartość id kategorii dla którego wykonujemy zapytanie
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    
    if isinstance(category_id, int):
        if 0 < category_id < 17:
            df = pd.read_sql(f'SELECT category.name AS category, COUNT(film.title) FROM film INNER JOIN film_category USING (film_id) \
            INNER JOIN category USING(category_id) WHERE category.category_id = {category_id} GROUP BY category.name', con=connection)
            return df
        else:
            return None
    else:
        return None
    
    return None

In [4]:
number_films_in_category(2)
print(pd.read_sql('SELECT MIN(length) FROM film', con=connection))
print(pd.read_sql('SELECT MAX(length) FROM film', con=connection))

/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   min
0   46
   max
0  185

In [5]:
def number_film_by_length(min_length: Union[int,float] = 0, max_length: Union[int,float] = 1e6 ) :
    ''' Funkcja zwracająca wynik zapytania do bazy o ilość filmów o dla poszczegulnych długości pomiędzy wartościami min_length a max_length.
    Przykład wynikowej tabeli:
    |   |length     |count|
    |0	|46 	    |64	  | 
    
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
        
    Parameters:
    min_length (int,float): wartość minimalnej długości filmu
    max_length (int,float): wartość maksymalnej długości filmu
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    
    if isinstance(min_length, (int,float)) and isinstance(max_length, (int,float)):
        if min_length >= 46 and max_length <= 185:
            if min_length <= max_length:
                df = pd.read_sql(f'SELECT length, COUNT(length) FROM film \
                WHERE length BETWEEN {min_length} AND {max_length} GROUP BY length', con=connection)
                return df
            else:
                return None
        else:
            return None
    else:
        return None

In [6]:
number_film_by_length(46,46)

/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   length  count
0      46      5

In [17]:
def client_from_city(city:str)->pd.DataFrame:
    ''' Funkcja zwracająca wynik zapytania do bazy o listę klientów z zadanego miasta przez wartość city.
    Przykład wynikowej tabeli:
    |   |city	    |first_name	|last_name
    |0	|Athenai	|Linda	    |Williams
    
    Tabela wynikowa ma być posortowana po nazwisku i imieniu klienta.
    
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
        
    Parameters:
    city (str): nazwa miaste dla którego mamy sporządzić listę klientów
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    
    if isinstance(city, str):
        if city in pd.read_sql('SELECT city FROM city', con=connection)['city'].values.tolist():
            df = pd.read_sql(f"SELECT city.city, customer.first_name, customer.last_name from customer \
            INNER JOIN address USING(address_id) INNER JOIN city USING(city_id) WHERE city.city = '{city}' ORDER BY \
            customer.last_name ASC, customer.first_name ASC", con=connection)
            return df
        else:
            return None
    else:
        return None

In [24]:
print(client_from_city('Athenai'))

      city first_name last_name
0  Athenai      Linda  Williams

/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [35]:
def avg_amount_by_length(length:Union[int,float])->pd.DataFrame:
    ''' Funkcja zwracająca wynik zapytania do bazy o średnią wartość wypożyczenia filmów dla zadanej długości length.
    Przykład wynikowej tabeli:
    |   |length |avg
    |0	|48	    |4.295389
    
    
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
        
    Parameters:
    length (int,float): długość filmu dla którego mamy pożyczyć średnią wartość wypożyczonych filmów
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    
    if isinstance(length, (int, float)):
        if 45 < length < 186:
            df = pd.read_sql(f"SELECT length, AVG(rental_duration) FROM film \
            WHERE length = {length} GROUP BY length", con=connection)
            return df
        else:
            return None
    else:
        return None

In [39]:
print(avg_amount_by_length(182))

   length  avg
0     182  5.5

/home/wiktor/anaconda3/envs/wiktorkacprzak/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
def client_by_sum_length(sum_min:Union[int,float])->pd.DataFrame:
    ''' Funkcja zwracająca wynik zapytania do bazy o sumaryczny czas wypożyczonych filmów przez klientów powyżej zadanej wartości .
    Przykład wynikowej tabeli:
    |   |first_name |last_name  |sum
    |0  |Brian	    |Wyman  	|1265
    
    Tabela wynikowa powinna być posortowane według sumy, imienia i nazwiska klienta.
    Jeżeli warunki wejściowe nie są spełnione to funkcja powinna zwracać wartość None.
        
    Parameters:
    sum_min (int,float): minimalna wartość sumy długości wypożyczonych filmów którą musi spełniać klient
    
    Returns:
    pd.DataFrame: DataFrame zawierający wyniki zapytania
    '''
    
    if isinstance(sum_min, (int, float)):
        
    
    return None

In [ ]:
pd.read_sql("SELECT SUM(length) FROM film GROUP BY ")